<section class="bg-dark">
    <div class="container d-flex justify-content-center align-items-center">
        <span class="text-bg-dark my-4">© 2023 bmerketo.  All right reserved.</span>
    </div>
</section>
