<section class="bg-white">
    <div class="container">
        <div class="row">
            <nav class="nav col-3">
                <a class="nav-link fw-bolder fs-4 text-dark" asp-controller="Home" asp-action="Index">bmerketo</a>
            </nav>
            <nav class="nav col-9 d-flex justify-content-end align-items-center">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Product" asp-action="AllProducts" class="nav-link text-dark">Products</a>
                <a class="nav-link text-dark" asp-controller="Contact" asp-action="Index">Contact</a>
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-user"></i></a>
                <partial name="_LoginPartial" />
                <!-- <a class="nav-link text-dark" href="#"><i class="fa-solid fa-magnifying-glass"></i></a> -->
                <!-- <a class="nav-link text-dark" href="#"><i class="fa-solid fa-cart-shopping"></i></a> -->
            </nav>
        </div>
    </div>
</section>
