<!-- this provides access to the model passed to the view through the Controller Action -->
@model IEnumerable<Product>

<h3 class="m-5">@ViewBag.Display</h3>

<div class="row row-cols-1 g-4">
    @foreach(var product in Model)
    {        
        <partial name="_ProductCard" model="product" />
    }
</div>

