<section class="bg-white">
    <div class="container">
        <form action="">

            <div class="row">
                <p>Write something</p>
            </div>

            <div class="row">
                <div class="col">
                    <label for="contact-form-name" class="form-label">Your Name*</label>
                    <input type="text" class="form-control" id="contact-form-name">
                </div>
                <div class="col">
                    <label for="contact-form-email" class="form-label">Your Email*</label>
                    <input type="text" class="form-control" id="contact-form-email">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="contact-form-phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="contact-form-phone">
                </div>
                <div class="col">
                    <label for="contact-form-company" class="form-label">Company (optional)</label>
                    <input type="text" class="form-control" id="contact-form-company">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="contact-form-query" class="form-label">Write your query!</label>
                    <textarea type="text" class="form-control" id="contact-form-query" style="height: 140px"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-danger my-4">Submit</button>
        </form>
    </div>
</section>
