<section class="bg-white">
    <div class="container mt-4">
        <form action="">

            <div class="row">
                <p>Please login to your account</p>
            </div>
            <div class="row nav">
                <a asp-controller="Account" asp-action="Register" class="nav-link">
                    <p class="link-danger">Don't have an account yet?</p>
                </a>
            </div>

            <div class="row">
                <div class="col">
                    <label for="login-form-email" class="form-label">Your Email </label>
                    <input type="text" class="form-control" id="login-form-email">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="login-form-password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="contact-form-password">
                </div>
            </div>

            <button type="submit" class="btn btn-danger my-4">Login</button>
        </form>
    </div>
</section>
