@model HomeViewModel

<partial name="_HeroDisplay" model="@Model.HeroDisplay" />
<!-- NEW PLANTS -->
<section class="bg-white">
    <div class="container my-3">
        <h3 class="text-center">New Plants</h3>
        <!-- 
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item "><a href="#" class="text-dark text-decoration-none">All</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">New</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Featured</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Popular</a></li>
            </ol>
        </nav>
        -->
        <div class="row my-2">
            @foreach (var product in Model.NewProducts)
            {
                <partial name="_ProductCard" model="product" />
            }          
        </div>
    </div>
</section>
<!-- FEATURED PLANTS-->
<section class="bg-danger-subtle py-5">
    <div class="container">
        <h3 class="text-center">Featured Plants</h3>
        <div class="row">

            @foreach (var product in Model.FeaturedProducts)
            {
                <partial name="_ProductCard" model="product" />
            }          
        </div>
    </div>
</section>
<!-- POPULAR PLANTS -->
<section class="bg-white">
    <div class="container my-3">
        <h3 class="text-center">Popular Plants</h3>
        <div class="row my-5">
            @foreach (var product in Model.PopularProducts)
            {
                <partial name="_ProductCard" model="product" />
            }                      
        </div>
    </div>
</section>
<!-- SUBSCRIBE -->
<!-- <section class="bg-body-secondary py-5">
    <div class="container bg-white py-2">
        <form action="">
            <div class="row m-5">
                <input type="text" class="col-8" placeholder="Enter your mail here">
                <button class="btn btn-danger col-4" type="button" id="button-addon2">SUBSCRIBE FOR NEWSLETTER</button>
            </div>
        </form>
    </div>
</section> -->
